<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="StudentDao" class="com.linyuan.dao.JdbcTemplateStudentDao">
        <property name="dataSource" ref="hikariDataSource" />
    </bean>

    <bean id="StudentDao1" class="com.linyuan.dao.JdbcPreparedStatementDao">
        <property name="dataSource" ref="hikariDataSource" />
    </bean>

    <!--配置数据库驱动-->
    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" primary="true" >
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="123456789"/>
        <property name="connectionTimeout" value="30000" />
        <property name="idleTimeout" value="600000" />
        <property name="minimumIdle" value="5" />
        <property name="maximumPoolSize" value="5" />
        <property name="connectionInitSql" value="set names utf8mb4;"/>
    </bean>
</beans>